body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
}

.draganddrop{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-family: "Arial", sans-serif;
  font-weight: 900;
  width: 300px;
  height: 200px;
  border:1px solid #021a40;
  content: url(star_cluster.jpg);
  margin: 5px;
}

.helloworld {
  color :grey;
}

.g-card {
  margin: 20px;
}

.g-card-image {
  border-radius: 10px;
  width: 400px;
  height: 300px;
  box-shadow: 1px 2px 20px 1px grey;
}

.g-card-info {
  margin-top: 10px;
  min-height: 100px;
}

.g-card-homeimage {
  border-radius: 3px;
  width: 500px;
  height: 300px;
}

.g-card-title {
  font-size: 24px;
  margin: 0px;
}

.g-card-sub-title {
  font-size: 16px;
  margin: 0px;
}

.nav-link:hover{
  -webkit-animation:rainbow 20s;
  -ms-animation:rainbow 5s;
  -o-animation:rainbow 10s;
  /* background-color: gold; */
  animation:gold-to-white 5s;
} 

.button:hover {
  -webkit-animation:rainbow 20s;
  -ms-animation:rainbow 5s;
  -o-animation:rainbow 10s;
  animation:limegreen-to-white 5s;
}
.nav-link{
  border-radius: 0px;
}



/*simple start*/
@keyframes limegreen-to-white {
  0% {
    background: limegreen;
  }
  100% {
    background: ghostwhite;
  }
}

/*just colors*/
@keyframes rainbow {
  0% {
    background: black;
  }
  10% {
    background: crimson;
  }
  25% {
    background: hotpink;
  }
  30% {
    background: coral;
  }
  40% {
    background: lightyellow;
  }
  50% {
    background: palegreen;
  }
  60% {
    background: mediumaquamarine;
  }
  75% {
    background: steelblue;
  }
  80% {
    background: darkviolet;
  }
  /* 90% {
    background: black;
  } */
  100% {
    background: ghostwhite;
  }
}

/*colors and movement*/
@keyframes rainbow-move {
  0% {
    background: rgb(108, 101, 101);
    left: 0%;
    top: 0%;
  }
  10% {
    background: crimson;
  }
  25% {
    background: hotpink;
    left: 75%;
    top: 0px;
  }
  30% {
    background: coral;
  }
  40% {
    background: lightyellow;
  }
  50% {
    background: palegreen;
    left: 75%;
    top: 10em;
  }
  60% {
    background: mediumaquamarine;
  }
  75% {
    background: steelblue;
    left: 0%;
    top: 10em;
  }
  80% {
    background: darkviolet;
  }
  90% {
    background: black;
  }
  100% {
    background: ghostwhite;
    left: 0px;
    top: 0px;
  }
}

/*colors, movement and rotation*/
@keyframes rainbow-move-change {
  0% {
    background: black;
    left: 0%;
    top: 0%;
  }
  10% {
    background: crimson;
  }
  25% {
    background: hotpink;
    left: 75%;
    top: 0px;
  }
  30% {
    background: coral;
  }
  40% {
    background: lightyellow;
  }
  50% {
    background: palegreen;
    left: 75%;
    top: 10em;
    transform: rotate(600deg);
  }
  60% {
    background: mediumaquamarine;
  }
  75% {
    background: steelblue;
    left: 0%;
    top: 10em;
    border-radius: 100%;
  }
  80% {
    background: darkviolet;
  }
  90% {
    background: black;
  }
  100% {
    background: ghostwhite;
    left: 0px;
    top: 0px;
  }
}